.all {
    padding-top: 70px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 20px;
}

.t1 {
    font-size: 32px;
    font-weight: 500;
}

.t2 {
    margin-bottom: 20px;
    font-size: 16px;
    color: #959595
}

.t3 {
    font-size: 20px;
    color: #7E7E7E;
}

.spt {
    font-size: 20px;
    display: flex;
    margin-top: 50px;
}

.sptTitle {
    font-weight: 550;
}

.sptBox {
    /* border: 1px solid black; */
    width: 400px;
    height: 250px;
    margin-right: -80px;
}

.sptBox2 {
    /* border: 1px solid black; */
    width: 200px;
    height: 250px;
    margin-right: 50px;
}

.sptContent {
    color: #7e7e7e;
}

.bold {
    font-weight: 600;
}

ul {
    margin: 2px;
    padding-left: 13px;
}

a {
    color: blue;
}

.title {
    padding-top: 120px;
    font-size: 28px;
    font-weight: 500;
    border-bottom: 1px solid #7E7E7E;
}

.bgi {
    width: 100vw;
    opacity: 100%;
    z-index: -9;
}

.ot {
    width: 60%;
}

.center {
    display: flex;
    justify-content: center;
}

.tam {
    margin-top: 50px;
    width: 90%;
}

.link {
    font-size: 36px;
    margin-top: 50px;
    text-decoration: none;
}

.cusp {
    width: 60%;
}

.wf {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}