.main {}

.all {
    padding-top: 70px;
    padding-left: 100px;
    padding-right: 100px;
}

.t1 {
    font-size: 32px;
    font-weight: 500;
}

.t2 {
    margin-bottom: 20px;
    font-size: 16px;
    color: #959595
}

.t3 {
    font-size: 20px;
    color: #7E7E7E;
}

.spt {
    font-size: 20px;
    display: flex;
    margin-top: 50px;
}

.sptTitle {
    font-weight: 550;
}

.sptBox {
    /* border: 1px solid black; */
    width: 400px;
    height: 250px;
    margin-right: 100px;
}

.sptBox2 {
    /* border: 1px solid black; */
    width: 200px;
    height: 250px;
    margin-right: 50px;
}

.sptContent {
    color: #7e7e7e;
}

.bold {
    font-weight: 600;
}

ul {
    margin: 2px;
    padding-left: 13px;
}

.title {
    padding-top: 120px;
    font-size: 28px;
    font-weight: 500;
    border-bottom: 1px solid #7E7E7E;
}

.sur {
    font-style: italic;
    font-size: 20px;

}

.sur div {
    padding-top: 50px;
}

.ref div {
    padding-top: 10px;
    padding-bottom: 20px;
}

.vdpText {
    margin-top: 20px;
    font-size: 20px;
    /* border: 1px solid black; */
    width: 500px;
    height: 300px;
    margin-left: 20px;
}

.vdpText div {
    padding-bottom: 20px;
}

.iframeCnt {
    padding-top: 30px;
}

.wf {
    display: flex;
    justify-content: center;
}

.surimg {
    border-color: black;
    width: 20%;
    padding: 10px;
}

.bgi {
    width: 100vw;
    opacity: 100%;
    z-index: -9;
}

.cm {
    width: 70%;
    box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.25);
}

.dropshadow {
    box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.25);
}

.surcnt {
    display: flex;
}

.surtxt {
    margin-left: 50px;
    margin-top: 70px;
    width: 600px;
}

.iconsimg {
    width: 900px;
}

.vd {
    padding-top: 40px;
    width: 100%;
}

.wire {
    width: 60%;
    height: 60%;
}